<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing URL Detector</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Phishing Website Detector</h1>
        <input type="text" id="urlInput" placeholder="Enter URL here">
        <button onclick="checkURL()">Check Now</button>
        <p id="result"></p>
    </div>
    
    <script src="../static/script.js"></script>
</body>
</html>
